* {
	margin: 0;
	padding: 0;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media only screen and (max-width: 700px) {
  html {
	  font-size: 10px;
  }
}

main {
	margin-top: 10vh;

	width: 800px;
	max-width: 90%;

	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
}

p {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

footer {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 100%;
}
